<div class="a">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


    <div class="container">


        <div class="row">
            <aside class="col-sm-4">

                <div class="card">
                    <article class="card-body">
                        <a href="http://localhost:4200/register" class="float-right btn btn-outline-primary">Sign up</a>
                        <h4 class="card-title mb-4 mt-1">Sign in</h4>
                        <form >
                            <div class="form-group">
                                <label>username</label>
                                <input name="" class="form-control" placeholder="username" type="username">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <a class="float-right" href="#">Forgot?</a>
                                <label>Your password</label>
                                <input class="form-control" placeholder="**" type="password">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox"> Save password </label>
                                </div> <!-- checkbox .// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                
                                    <button type="submit" class="btn btn-primary btn-block" routerLink="/userpage">
                                        Login 
                                    </button>
                               
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div>
            </aside>
        </div>