<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="table table-striped">
        
        
        <th>userid</th>
        
        <th>firstName</th>
        <th>lastName</th>
        <th>emailId</th>
        <th>mobileNumber</th>
        <th>password</th>
        <th>walletId</th>

        <tr>
            
            <td>{{Regis.userId}}</td>
            <td>{{Regis.userName}}</td>
            <td>{{Regis.firstName}}</td>
            <td>{{Regis.lastName}}</td>
            <td>{{Regis.emailId}}</td>
            <td>{{Regis.mobileNumber}}</td>
            <td>{{Regis.password}}</td>
            
        </tr>
    </table>
</body>

</html>