<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all data</title>
</head>

<body>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>userId</th>
                <th>username</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>emailId</th>
                <th>mobileNumber</th>
                <th>password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Registration" >
                <td>{{data.userId}}</td>
                <td>{{data.userName}}</td>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.emailId}}</td>
                <td>{{data.mobileNumber}}</td>
                <td>{{data.password}}</td>
            </tr>
            
        </tbody>
    </table>


</body>

</html>